body {
  margin: 0px;
}
h1 {
  border-left: 5px gray solid;
  text-align: center;
}
header {
  height: 20vh;
}

main {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer {
  height: 10vh;
  background-color: darkgray;
  color: white;
  text-align: center;
  padding-top: 10px;
}
